$mdc-theme-primary: #424242;
$mdc-theme-secondary: #d81b60;
$mdc-theme-background: #ffffff;
$mdc-theme-surface: #ffffff;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-surface: #424242;
$mdc-typography-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
