# Directories ---------------
# Next.js build outputs
.next
# Zeit Now account config
.now
# Webpack Bundle Analyzer outputs
bundles
# Yarn-installed packages
node_modules
# Files ---------------------
# Logs
*.log
