# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

# Directory created by dartdoc
doc/api/

# npm/Yarn stuff
node_modules/
yarn-error.log

# React/Next.js stuff
.next/

# Local dev SSL certs
*.pem
