# directories ---------------
# `next build` outputs
.next
# `vercel` account config
.vercel
# `webpack-bundle-analyzer` outputs
bundles
# `npm` packages
node_modules
# files ---------------------
# logs
*.log
