# directories ---------------
# `husky` `git` hooks
.husky
# `next build` outputs
.next
# `vercel` account config
.vercel
# `webpack-bundle-analyzer` outputs
bundles
# `yarn` packages
node_modules
# files ---------------------
# fonts
*.eot
*.otf
*.ttf
*.woff
*.woff2
# images
*.gif
*.ico
*.jpeg
*.jpg
*.png
*.svg
*.webp
# pdf
*.pdf
# txt
*.txt
# xml
*.xml
