h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 36px;
  color: #B71C1C;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFCDD2;
}

main {
  width: 60%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
