.command-line {
    display: none;
}
.on-screen {
    font-size: 6em;
}
body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    background: #263238;
    color: #78909C;
}
p {
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
}
.dir {
    color: #2196F3;
}
.git {
    color: #827717;
}
main {
    padding: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.typed-cursor {
    font-size: 6em;
    opacity: 1;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
