@font-face {
    font-family: 'Noto Mono';
    src: local('Noto Mono'), local('NotoMono'),
        url('noto-mono.woff2') format('woff2'),
        url('noto-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
